* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: 10vh;
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-heading {
  color: #f3f4f6;
}

.dropdown-menu {
  width: 80px;
  height: 40px;
  background: #10b981;
  color: #f3f4f6;
  border: none;
  border-radius: 20px;
  font-size: 18px;
}

.head-section {
  background-color: #10b981;
  height: 80vh;
}

.avtar > img {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 200px;
  height: 180px;
}

.head-title {
  position: absolute;
  top: 60%;
  left: 30%;
}

.head-title > h1,
h2 {
  color: #1f2937;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.project-section {
  background-color: #f3f4f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-section > h1 {
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
  color: #1f2937;
}

.grid {
  padding-top: 40px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows:
    100px 100px 100px
    100px 100px;
  grid-row-gap: 20px;
  justify-content: center;
}

.grid-item {
  border-radius: 20px;
  background-color: #10b981;
}

.grid-item:hover {
  animation: animationOpacity 2s;
}

.grid-project-title {
  color: #1f2937;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}

.grid-project-title:hover {
  animation: animationTitle 2s;
}

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #10b981;
}

.about-section,
.contact > h1 {
  color: #f3f4f6;
  font-size: 40px;
  text-align: center;
}

.about-me {
  color: #f3f4f6;
  text-align: center;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.contact {
  background-color: #f3f4f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact > h1 {
  color: #1f2937;
}

.contact-form {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-form > form {
  display: grid;
  grid-template-columns: 80px 100px;
  grid-row-gap: 30px;
}

label,
input,
textarea {
  font-size: 18px;
  color: #1f2937;
  background-color: #f3f4f6;
}

input,
textarea {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #1f2937;
  border-radius: 10px;
}

.submit-btn {
  background-color: #10b981;
  color: #1f2937;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.submit-btn:hover {
  opacity: 0.5;
}

footer {
  background-color: #1f2937;
  color: #f3f4f6;
  height: 40vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.location,
.web {
  padding-bottom: 50px;
}

.location > h1,
p,
.web > h1 {
  text-align: center;
  padding-bottom: 20px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

p,
li {
  font-size: 18px;
}

li {
  border-radius: 50%;
  border: 1px solid #f3f4f6;
  padding: 10px;
  margin-left: 20px;
}

@keyframes animationOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
